*{
    box-sizing: border-box;
    margin: 0;
}
body{
    background-color: #BB0000;
    height: 100vh;
}
.container{
    position: relative;
   height: 100%;
}
.banner_image{
    
    position: absolute;
    left: 5%;
    top: 15%;
}
.rose{
    position: absolute;
    bottom: 0;
    left: 5%;
}
.content{
    position: absolute;
    top: 3.5rem;
    left: 25%;
    color: #fff;
    width: 850px;
    border: 1px solid palevioletred;
}
.title{
    
    background-color: palevioletred;
    position: relative;
    height: 150px;
}
.content h3{
    text-align: center; 
    width: 70%;
    background-color: red;
    font-size: 1.4rem;
    padding: 1rem;
}
.gift{
    height: 150px;
    width: 200px;
    position: absolute;
    right: 0;
    top: 0;

}
.sub_background{
    position: absolute;
    right: 0;
    bottom: 0;
}
.sub_content{
    display: flex;
    margin: 20px;
   font-size: 1.2rem;
   line-height: 1.2;
   color: rgb(244, 170, 194);
  
}
.sub_content span{
    color: red;
    font-weight: bold;
    margin-left: 10px;
}
.left_content{
    margin-right: 20px;
}
