*{
    margin: 0;
    box-sizing: border-box;
}

.header img{
    width: 100%;
    
}
.header{
    position: relative;
}
.header h1{
    position: absolute;
    top: 50px;
    left: 40%;
    color: white;
    text-shadow: 12px 12px 14px rgb(163, 37, 37);
}
.nav_left {
    position: relative;
    float: left;
}
.nen-hoa-muc-luc {
    position: absolute;
    bottom: 0;
}
.menu{
    position: absolute;
    left: 30px;
    top: 20px;
}
.menu ul{
    padding: 15px;
    list-style: none; 
    color: #fff !important;
    font-weight: bold;
}
.menu ul li{
    margin-bottom: 15px;
    margin-top: 5px;
    

    background-color: transparent;
    
}

.content_full{
    float: right;
    width: 82.5%;
}





.mucluc img{
    width: 260px;
    height: 540px;
}
