*{
    box-sizing: border-box;
    margin: 0;
}
body{
    margin-left: 2rem;
    margin-right: 2rem;
    line-height: 1.6;
    margin: 0 5px;
}
p{
    margin-bottom: 10px;
    
}
.content-first{
    display: flex;
    position: relative;
}
.bandovietnam{
    margin: 20px;
}
.content_bandovietnam{
    margin: 20px;
}
.content_bandovietnam p{
    margin-left: 3rem;
    
}
.co_contentfirst{
    position: absolute;
    top: 0;
    z-index: -1;
    opacity: 0.15;
    left: 35%;
    top: 30%;
}
.co_contentfirst img{
    width: 300px;
}
.content_second{
    position: relative;
}
.co_content{
    position: absolute;
    top: 0;
    z-index: -1;
    opacity: 0.15;
    left: 35%;
    top: 30%;
}
.co{
    width: 300px;
}
a:active{
    font-weight: bold;
    
}
.traidat img{
    width: 200px;
    height: 200px;
}
.flex{
    display: flex;
}
.title_red{
    background-color: red;
    padding: 0 10px;
    color: #fff;
    margin-bottom: 10px;
}

.ho-guom img{
    height: 230px;
    float: left;
    margin-right: 10px;
}
.lang-bac img{
    height: 240px;
}
.float-left{
    float: left;
}
.float-right{
    float: right;
}
.back_home{
    position: absolute;
    bottom: 0px;
    right: 0;
   
   
}
.mr-10{
    margin-right: 10px;
}
.pb-10,
.py-10{
    padding: 20px 0;
}
.relative{
    position: relative; 
}
.title_purple{
    background-color: purple;
    padding: 0 10px;
    color: #fff;
    margin-bottom: 10px;
}
.center{
    text-align: center;
}
.img_trangtien{
    width: 700px;
    
}
.title_pink{
    background-color: rgb(239, 70, 177);
    padding: 0 10px;
    color: #fff;
    margin-bottom: 10px;
}
.container_HCM{
 
    display: grid;
    grid-template-columns: 1fr 1fr 1fr;
    grid-gap: 10px;
    grid-auto-flow: dense;
    grid-auto-rows: minmax(50px, auto);
    
}
.border-right{
    border-right: 1px dashed  #000;
   

}

