*{
    box-sizing: border-box;
    margin: 0;
}
.container{
    text-align: center;
    border: 2px red dotted;
    height: 50%;
    width: 700px;
    margin: auto;
    margin-top: 100px;
    position: relative;
    padding: 50px 0;
    
}
h1{
    color: red;
}
.form{
    display: flex;
    justify-content: center;
    flex-direction: column;
    margin-top: 20px;
    align-items: center;
    
}
.ten{
    margin-top: 20px;
}
input{
    height: 25px;
    width: 200px;
    background-color: rgba(245, 82, 82, 0.5); ;
    border: 1px dotted red; /* Bạn có thể thêm border nếu muốn */
    outline: none; /* Loại bỏ đường viền xung quanh khi focus */
    border-radius: 20px;
}
input:focus {
    border-color: red; /* Đổi màu border khi input được focus */
}
.pass{
    margin-left: 40px;
    margin-top: 10px;
}
.btn{
    width: 100px;
    background-color: red;
    border-radius: 20px;
    border: none !important;
    padding: 5px 10px;
    margin-top: 10px;
}
.background img{
    width: 200px;
    height: 200px;
    z-index: -1;
    position: absolute;
    right: 100px;
    top: 30%;
}
